
.item{
    border: 2px solid black;
    position:  relative;
    left: 90px;
    padding: 5px;
    background: white;
}

.item form{
    left:300px;
    position: relative;
    bottom: 50px;
    width: 70px;
    height: 40px;
}