<!DOCTYPE html>
<html>
<head>
  <title>OOP Project</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style_1.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <h1 class="body-head">This Page is working!</h1>
  <br>
    <div>
    <form class="body-search" id="search-form" action="/card/modify" method="post">
        <input name="card_num" placeholder="card number" value=""><br> <!--default to user card number-->
        <input name="exp_date" placeholder="expire date" value=""><br><!--default to user card expired date-->
        <input name="cvc" placeholder="cvc number" value=""> <!--default to user card expired date-->
        <button type="submit">modify</i></button>
    </form>
    </div>
  <nav>
    <ul>
      <li>
        <a href="/">
          <i class="fas fa-home"></i>
          <span class="nav-item">Home</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-user"></i>
          <span class="nav-item">User</span>
        </a>
      </li>
      <li>
        <a href="/basket">
          <i class="fas fa-cart-arrow-down"></i>
          <span class="nav-item">Cart</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav-item">User</span>
        </a>
      </li>
    </ul>
  </nav>
</body>    
</html>