<!DOCTYPE html>
<html>
<head>
  <title>OOP Project</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style_1.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <h1 class="body-head">This Page is working!</h1>
  <br>
  <p class="body-search">TOTAL : {{basket_list.price}}</p>
  <br>
    <div class="item">
      <form method="post" action="/add_amount">
        <label class="body-search">Card Number :</label>
        <input name="card_num" value=""> <!--default to user card number-->
        <label class="body-search">Expire Date:</label>
        <input name="exp_date" value=""> <!--default to user card expired date-->
        <label class="body-search">CVC :</label>
        <input name="cvc" value=""> <!--default to user card expired date-->
        <button type="submit">Confirm</i></button>
      </form>
    </div>
  <a style="left:100px" href="/order">Purchase</a>
  <nav>
    <ul>
      <li>
        <a href="/">
          <i class="fas fa-home"></i>
          <span class="nav-item">Home</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-user"></i>
          <span class="nav-item">User</span>
        </a>
      </li>
      <li>
        <a href="/basket">
          <i class="fas fa-cart-arrow-down"></i>
          <span class="nav-item">Cart</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav-item">User</span>
        </a>
      </li>
    </ul>
  </nav>
</body>    
</html>