<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Branch</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h1 class="body-head">Branch page is working</h1>
    <form class="body-search" id="search-form" action="/branch/search/" method="get">
        <label for="search-input">Search branches</label>
        <input type="text" id="search-input" name="book_name" minlength="1" maxlength="20">
        <button type="submit">Search</button>
    </form>
    {%for branch in branch_list%}
        <div class="body-item">
            <a href="/branch/{{branch._branch_name}}">{{branch._branch_name}}</a>
        </div>
    {% endfor %}
    <nav>
        <ul>
          <li>
            <a href="/">
              <i class="fas fa-home"></i>
              <span class="nav-item">Home</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-user"></i>
              <span class="nav-item">User</span>
            </a>
          </li>
          <li>
            <a href="/basket">
              <i class="fas fa-cart-arrow-down"></i>
              <span class="nav-item">Cart</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-item">User</span>
            </a>
          </li>
        </ul>
      </nav> 
</body>

</html>