.menu_tab {
    position:relative;
    left: 80px;
    top: -125px;
    padding: 10px;
    display: inline-block;
}

.menu_tab:hover{
    background-color: #404040;
    border: 1px solid white;
}

.web_title{
    position: relative;
    left: -575px;
    top: -50px;
}

.book{
    border:1px solid white;
    padding: 25px;
    width: 800px ;
}

.book_detail{
    position: relative;
    left: 300px;
    top: -10px;
    text-align: left;
}

.book_img{
    position: absolute;
    left:350px;
    width: 200px;
    height: 200px;
    z-index: 1;
}