.menu_tab {
    position:relative;
    left: 100px;
    top: -115px;
    padding: 15px;
    display: inline-block;
}

.menu_tab:hover{
    background-color: #404040;
    border: 1px solid white;
}

.web_title{
    position: relative;
    left: -575px;
    top: -50px;
}

.book{
    border:1px solid white;
    padding: 15px;
}

.book_detail{
    position: relative;
    left: 300px;
    text-align: left;
}

.book_img{
    position: relative;
    left:-450px;
}