.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    width: 98%;
    padding: 1rem;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 1rem;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.navbar a.active {
    font-weight: bold;
}