.profile {
	border: 1px solid #4380e6;
	padding: 12px;
	margin-top: 2rem;
	height: 500px;
}

.profile span {
	padding: 20px;
}

.card {
	border: 1px solid #4380e6;
	padding: 12px;
	margin-top: 1rem;
	height: 240px;
}
.card span {
	padding: 20px;
}
